body {
}

.hdr {
    background-color: #CCCCD0;
    margin-right: 50%;
    padding: 5px;
    border-radius: 5px;
}

.form-container {
    margin-top: 45px;
    border: solid 3px #1A5B6D;
    background-color: #FDFDFD;
    border-radius: 5px;
}

.form-container-header {
    background-color: #1A5B6D;
    padding: 5px;
    font-weight: bolder;
    color: white;
}

.form-container-body {
    padding: 5px;
}

.site-bg {
    background-image: url('baseball.jpg');
    height: 150px;
    background-position: center;
    background-position-y: -1000px;
    border-bottom: solid 8px #4F6715;
    background-repeat: no-repeat;
    color: white;
    font-weight: bolder;
    font-size: 75px;
    text-shadow: 2px 2px #00070E;
    text-align: center;
    padding-top: 20px;
}
